@model Nhom04_Jewelry.Models.Product
@{
    ViewBag.Title = "Carts";
    Layout = "~/Views/Shared/_LayoutPage2.cshtml";
}
<div class="alert alert-info alert-dismissible fade show text-center mb-30" style="margin:20px 0 100px 0"><span class="alert-close" data-dismiss="alert"></span><i class="fe-icon-award"></i>&nbsp;&nbsp; Your Shopping Cart.</div>
<h2 class="text-center text-danger">Không có sản phẩm</h2>
<div class="container text-center" style="margin-bottom:105px"><input class="btn text-white bg-dark mx-auto" style="margin-top:100px" type="button" value="Quay lại" onclick="back()"></div>